{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>
<p>Vitor José Paz Rodrigues RA: 1800893</p>
<p>Jaqueline Esmendia de Paula RA: 1800263</p>
<p>André Mendonça da Silva RA: 1800793</p>
<p>Hilana Regina Godoy Teixeira RA: 1800089</p>
<p>Daiane Oltramari RA: 1801008</p>




<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
